@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-50 text-ink;
  background-color: #f7f8fb;
}

[contenteditable][data-placeholder]:empty::before {
  content: attr(data-placeholder);
  color: rgb(100 116 139);
}
